<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".FavouriteList"
            android:exported="false" />
        <activity
            android:name=".UpdateEmail"
            android:exported="false" />
        <activity
            android:name=".Update"
            android:exported="false" />
        <activity
            android:name=".ServiceDetails"
            android:exported="false" />
        <activity
            android:name=".DryCleanList"
            android:exported="false" />
        <activity
            android:name=".RestaurantList"
            android:exported="false" />
        <activity
            android:name=".SupermarketItemList"
            android:exported="false" />
        <activity
            android:name=".Salon2"
            android:exported="false" />
        <activity
            android:name=".SalonList"
            android:exported="false" />
        <activity
            android:name=".Dorms"
            android:exported="false" />
        <activity
            android:name=".Restaurant"
            android:exported="false" />
        <activity
            android:name=".DryClean"
            android:exported="false" />
        <activity
            android:name=".SuperMarket"
            android:exported="false" />
        <activity
            android:name=".Salon"
            android:exported="false" />
        <activity
            android:name=".PlacesA"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- &lt;!&ndash;            android:value="@string/google_maps_api_key" />&ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->
        <activity
            android:name=".Map"
            android:exported="false"
            android:label="@string/title_activity_map" />
<!--        <activity-->
<!--            android:name=".Signup_Fragment"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".Login_Fragment"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".LogoScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>